.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f2f2f2;
}

.chat {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80%;
	width: 50%;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 0 0 10px #bfbfbf;
	overflow: hidden;
}

.messages {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	padding: 20px;
	overflow-y: scroll;
}

.messages::-webkit-scrollbar {
	width: 5px;
}

.messages::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.messages::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 5px;
}

.messages .message {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #f2f2f2;
	box-shadow: 0 2px 2px #e6e6e6;
	max-width: 60%;
}

.messages .bot {
	align-self: flex-start;
}

.messages .user {
	align-self: flex-end;
	background-color: #4caf50;
	color: #ffffff;
}

#input {
	height: 10%;
	width: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	padding: 10px;
	border-top: 1px solid #f2f2f2;
}
